<main>
    <div class="row" >
        <div ng-repeat= "item in celebritiesData | filter: filterId" class="col-xs-12 text-center bottomPadding">
          <img  class="jumbotron center-block" ng-src="img/{{ item.image }}.jpg" alt="{{ item.full_name }} photo">
          <h2>{{item.full_name}}</h2>
          <h4>{{item.famous_movies}}</h4>
          <h4>{{item.age}} year old</h4>
          <h4>{{item.salary | currency}}</h4>

        </div>
    </div>
    <a type="button" class="btn btn-primary" href="#/"  aria-label="Left Align">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      Back</a>

</main>
